<title>Shortening URL</title>
  <form action="/login" method="POST" style="margin: 10px;">
    <label for="username">Username:</label>
    <input id="username" type="text" name="username" placeholder="<%= username %>" style="width: 227px">
    <input type="submit" value="Login">
  </form>

