<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
  <header>
    <% include partials/_header %>
  </header>
  <table>
  <thead>
    <tr>
      <th>Single URL</th>
      <th>Short URL</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= longURL %></td>
      <td><%= shortURL %></td>
    </tr>
  </tbody>
</table>
</body>
</html>

