<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
  <table>
  <thead>
    <tr>
      <th>Full Url</th>
      <th>Short Url</th>
    </tr>
  </thead>
  <tbody>

    <tr>
      <td><%= longURL %></td>
      <td><%= shortURL %></td>
    </tr>

  </tbody>
</table>

</body>
</html>

